@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Open+Sans&display=swap');

body {
    font-family: 'Kanit', sans-serif;
   
}

.button {
    padding: 0.5rem;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(199, 149, 204);
    border: none;
    font: inherit;
     color: #fff;
}